.accHoldContainer{
    width: 60%;
    padding: 20px;
    background-color: #014beba4;
    color: white;
    border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

#addBtn{
	color: white;
	background-color: #014beb;
	border: 1px solid white;
}

#addBtn:hover{
	color: #008080;
	background-color: white;
}
